<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>팜스토리::이벤트</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="container">
        <header>
            <a href="../index.html" class="logo"><img th:src="@{/images/logo.png}" alt="로고"/></a>
            <p>
                <a href="#">HOME |</a>
                <a href="#">로그인 |</a>
                <a href="#">회원가입 |</a>
                <a href="#">고객센터</a>
            </p>
            <img th:src="@{/images/head_txt_img.png}" alt="3만원 이상 무료배송"/>
            
            <ul class="gnb">
                <li><a th:href="@{/introduction/hello}">팜스토리소개</a></li>
                <li><a th:href="@{/market/list}"><img th:src="@{/images/head_menu_badge.png}" alt="30%"/>장바구니</a></li>
                <li><a th:href="@{/croptalk/story}">농작물이야기</a></li>
                <li><a th:href="@{/event/event}">이벤트</a></li>
                <li><a th:href="@{/community/notice}">커뮤니티</a></li>
            </ul>
        </header>

        <div id="sub">
            <div><img th:src="@{/images/sub_top_tit4.png}" alt="CROP TALK"></div>
            <section class="event">
                <aside>
                    <img th:src="@{/images/sub_aside_cate4_tit.png}" alt="이벤트"/>

                    <ul class="lnb">
                        <li class="on"><a href="./grow.html">이벤트</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img th:src="@{/images/sub_nav_tit_cate4_tit1.png}" alt="이벤트"/>
                        <p>
                            HOME > 이벤트 > <em>이벤트</em>
                        </p>
                    </nav>

                    <!-- 내용 시작 -->
                    <table>
                        <thead>
                        <tr>
                            <th>NO</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>날짜</th>
                            <th>조회</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 서버에서 받아온 게시글 목록을 Thymeleaf의 반복문을 이용하여 동적으로 추가 -->
                        <tr th:each="post : ${posts}">
                            <td th:text="${post.no}"></td>
                            <td th:text="${post.title}"></td>
                            <td th:text="${post.writer}"></td>
                            <td th:text="${post.rdate}"></td>
                            <td th:text="${post.hit}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- 검색 폼 -->
                    <form id="searchForm" action="/event/search" method="post">
                        <!-- 검색 옵션 선택 -->
                        <select id="searchOption" name="searchOption">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="titleAndContent">제목+내용</option>
                        </select>

                        <!-- 검색어 입력 -->
                        <input type="text" id="searchInput" name="searchInput" placeholder="검색어를 입력하세요">

                        <!-- AND와 OR 선택 -->
                        <label><input type="radio" name="searchType" value="and">AND</label>
                        <label><input type="radio" name="searchType" value="or">OR</label>

                        <!-- 검색 버튼 -->
                        <button type="submit">검색</button>
                    </form>
                    <!-- 내용 끝 -->
                </article>
            </section>



        </div>
        <footer>
            <img th:src="@{/images/footer_logo.png}" alt="로고"/>
            <p>
                (주)팜스토리 / 사업자등록번호 123-45-67890 / 통신판매업신고 제 2013-팜스토리구-123호 / 벤처기업확인 서울지방중소기업청 제 012345678-9-01234호<br />
                등록번호 팜스토리01234 (2013.04.01) / 발행인 : 홍길동<br />
                대표 : 홍길동 / 이메일 : email@mail.mail / 전화 : 01) 234-5678 / 경기도 성남시 잘한다구 신난다동 345<br />
                <em>Copyright(C)홍길동 All rights reserved.</em>
            </p>
        </footer>
    </div>    
</body>
</html>